# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Log files
*.log
log-*.txt

# Local configuration
config_*.json
captcha_errors.txt
proxies.txt
invalid_password.txt
point/
captcha/
accounts*/
config*.json
config.txt